.nav {
    display: flex;
    justify-content: space-around;
}
.detailAnnonce {
    text-align: center;
    padding: 10px;
}
.annonce {
    border: solid;
    width: 300px;
    margin: 10px;
}
.annonce>img {
    width: 300px;
}

.accueil {
    display: flex;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: #303030;
}